<!-- 
<app-admin-nav-bar></app-admin-nav-bar>

<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">

  <app-admin-side-bar></app-admin-side-bar>
  <div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <main class="py-6 bg-surface-secondary">
      <div class="container-fluid">
        <h1 class="text-center mb-5">All Users</h1>
        <div class="wrapper">
          <div class="profile-card-container d-flex flex-wrap justify-content-center">
            <div class="profile-card js-profile-card mb-4 mx-2" *ngFor="let user of user">
              <div class="profile-card__cnt js-profile-cnt">
                <div class="content p-3">
                  <p><strong>Name:</strong> {{ user.userName }}</p>
                  <p><strong>Email:</strong> {{ user.userEmail }}</p>
                  <p><strong>Contact Number:</strong> {{ user.userContactNumber }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div> -->

<app-admin-nav-bar></app-admin-nav-bar>

<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
  <app-admin-side-bar></app-admin-side-bar>

  <div class="h-screen flex-grow-1 overflow-y-lg-auto">
    <main class="py-6 bg-surface-secondary">
      <div class="container-fluid form-wrapper">
        <div class="form-container">
          <div class="form-header">
            <h1>All Users</h1>
          </div>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">User ID</th>
                  <th scope="col">User Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Contact Number</th>
                  <!-- <th scope="col">Action</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of paginatedUsers">
                  <td>{{ user.userId }}</td>
                  <td>{{ user.userName }}</td>
                  <td>{{ user.userEmail }}</td>
                  <td>{{ user.userContactNumber }}</td>
                  <td class="text-end">
                    <!-- <a
                      href="#"
                      class="btn btn-sm btn-neutral"
                      routerLink="/edit/{{ user.userId }}"
                    >
                      <i class="bi bi-pencil-square"></i>
                    </a>
                    <button
                      type="button"
                      class="btn btn-sm btn-square btn-neutral text-danger-hover"
                     
                    > -->
                      <!-- <i class="bi bi-trash"></i>
                    </button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pagination-buttons">
            <button class="button" (click)="previousPage()">Previous</button>
            <span>{{ currentPage }} / {{ totalPages }}</span>
            <button class="button" (click)="nextPage()">Next</button>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

