
  

  
  button {
    margin-top: 10px;
  }
  
  .alert {
    margin-top: 20px;
  }

  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
  }
  
  .form-container {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  h1 {
    text-align: center;
    color: #5469d4;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Tahoma";
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  .form-field label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: 600;
  }
  
  .form-field input, .form-field select {
    width: 100%;
    padding: 14px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .form-field input:focus, .form-field select:focus {
    border-color: #2575fc;
    box-shadow: 0 0 8px rgba(37, 117, 252, 0.3);
  }

  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: 600;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 14px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .form-group input:focus,
  .form-group select:focus {
    border-color: #2575fc;
    box-shadow: 0 0 8px rgba(37, 117, 252, 0.3);
  }
  button {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #ffffff;
    border: none;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
    transition: background 0.3s, transform 0.3s;
  }
  
  button:hover {
    background: linear-gradient(135deg, #5a09e0, #1d4ed8);
    transform: scale(1.05);
  }
  