<nav class="navbar">
  <div class="admin-logo" routerLink="/superadmin">
    <img src="../../../assets/images/superadminlogo.png" alt="Admin Panel Logo" />
  </div>
  <div class="admin-profile dropdown ms-lg-2" >
    <button
      class="btn dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img
        src="../../../assets/images/admin.png"
        alt="User Profile Image"
        class="profile-image"
      />
    </button>
    <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton">
      <li>
        <a class="dropdown-item d-flex align-items-center" href="#" (click)="logout()">
          <i class="fa fa-sign-out me-2" aria-hidden="true"></i><strong>Logout</strong> 
        </a>
      </li>
    </ul>
    
    
  </div>
</nav>
