<div class="footer-bottom">
  <div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="footer-site-info">
          2024 © <a href="" target="_blank">My Store Pvt Ltd</a>
        </div>
      </div>

      <div class="col-md-6">
        <nav id="footer-navigation" class="site-navigation footer-navigation centered-box" role="navigation">
          <ul id="footer-menu" class="nav-menu styled clearfix inline-inside">
            <li id="menu-item-26" class="menu-item">
              <a href="#">Home</a>
            </li>
            <li id="menu-item-27" class="menu-item">
              <a href="#" [routerLink]="'/user/conatact'">Contact Us</a>
            </li>
            <li id="menu-item-28" class="menu-item">
              Follow us →
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-md-3">
        <div id="footer-socials">
          <div class="socials inline-inside socials-colored">
            <a href="https://www.facebook.com" target="_blank" title="Facebook" class="socials-item">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="https://twitter.com" target="_blank" title="Twitter" class="socials-item">
              <i class="bi bi-twitter"></i>
            </a>
            <a href="https://instagram.com" target="_blank" title="Instagram" class="socials-item">
              <i class="bi bi-instagram"></i>
            </a>
            <a href="https://www.youtube.com" target="_blank" title="YouTube" class="socials-item">
              <i class="bi bi-youtube"></i>
            </a>
            <a href="https://telegram.org" target="_blank" title="Telegram" class="socials-item">
              <i class="bi bi-telegram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


 
