@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-weight: bold;
   
}
h1 {
    text-align: center;
    color: rgb(63, 78, 166);
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
  
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(X, X, X);
    width: 100%; min-height: 100vh;
}
.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 550px;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

.mid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.head, .mid, .textarea, .end{
    padding: 15px;
}
img{
    height: 50px; width: 50px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.1s linear;
}
img:hover{
    background-color: gold;
    transform: scale(1.2);
}
.active{
  background-color: gold;
    transform: scale(1.2);
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading{
    width: 70%;
}
.heading h1{
    font-size: 25px;
    border-bottom: 8px solid gold;
    font-weight: bolder;
}
.close{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.1s linear;
    padding: 0 10px;
}
.close:hover{
    transform: scale(1.2);
}
.s{
    width: 1.5px; height: 20px;
    background-color: black;
    border-radius: 100px;
}
.s1{
    transform: translateX(1.5px) rotate(45deg);
}
.s2{
    transform: rotate(-45deg);
}
.textarea{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.textarea p{
    font-size: 18px;
}
textarea{
    outline: none;
    resize: none;
    height: 100px;
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 5px;
}
.end{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


button {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
    width: 120px;

}
.recommend {
    margin: 20px 20px; 
}

.recommend-options {
    display: flex;
    justify-content: space-around; 
}

button+button {
    margin-left: 10px;
}

button:hover {
    background-color: #1a1f36;
    color: #fff;
}

.media img:hover {
    background-color: gold;
    transform: scale(1.2);
  }
  .media.hovered img {
    background-color: gold;
    transform: scale(1.2);
  }
  
  .media.selected img {
    background-color: gold;
  }
  
