.featured-products {
  padding: 30px 0;
  background-color: #f8f9fa;
  padding-bottom: 420px;
}

.featured-products h2 {
  font-size: 28px;
  color: #1d4ed8;
  text-align: center;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #fff;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.images {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 15px;
  background-color: #fff;
}

.card-title {
  font-size: 18px;
  color: #333;
}

.card-body p {
  margin-top: -10px;
  font-size: 16px;
  color: #666;
}

.wishlist-icon {
  position: absolute;
  bottom: 15px;
  right: 15px;
}


.container {
  flex: 1;
  max-width: 1500px;
}


