<div class="wrapper">
  <div class="container">
    <div class="form-container">
      <h1>Set Password</h1>
      <form [formGroup]="user" (ngSubmit)="setPassword()">
        <div class="input-box">
          <label>Email</label>
          <input
            type="email"
            formControlName="userEmail"
            class="form-control"
            placeholder="Email"
            [value]="email"
            readonly
          />
        </div>
        <div class="field padding-bottom--24">
          <label>Password</label>
          <input
            type="password"
            formControlName="userPassword"
            class="form-control"
            placeholder="Enter your Password"
          />
          <span
            class="text-danger"
            *ngIf="(user.get('userPassword')?.touched || submitted) && user.get('userPassword')?.errors?.['required']"
            >Password Can't be Blank</span
          >
          <span
            class="text-danger"
            *ngIf="user.get('userPassword')?.errors?.['pattern']"
            >Password must contain at least 8 characters, 1 uppercase letter, 1
            lowercase letter, 1 number, and 1 special character.</span
          >
        </div>
        <div class="field padding-bottom--24">
          <label>Confirm Password</label>
          <input
            type="password"
            formControlName="userConfirmPassword"
            class="form-control"
            placeholder="Retype Password"
          />
          <span
            class="text-danger"
            *ngIf="(user.get('userConfirmPassword')?.touched || submitted) && user.get('userConfirmPassword')?.errors?.['required']"
            >Confirm Password Can't be Blank</span
          >

          <span
            class="text-danger"
            *ngIf="user.get('userConfirmPassword')?.errors?.['pattern']"
            >Invalid Password Formate.</span
          >
        </div>
        <button type="submit" [disabled]="!user.valid">Submit</button>
      </form>
      <div class="footer-link padding-top--24">
        <span>Back to <a routerLink="/user/login">Login</a></span>
      </div>
    </div>
  </div>
</div>
