.navbar-custom {
  background: linear-gradient(
    135deg,
    #6a11cb,
    #2575fc
  ); 
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-custom .navbar-brand img {
  filter: brightness(0) invert(1);
}

.navbar-custom .login-btn {
  margin-left: auto; /* Automatically align to the right */
}

.navbar-custom .navbar-nav .nav-link {
  color: rgb(17, 12, 12);
}

.navbar-custom .btn-outline-primary {
  border-color: #fff;
  color: #fff;
}

.navbar-custom .btn-outline-primary:hover {
  background-color: #fff;
  color: #343a40;
}

.navbar-custom .btn-outline-success {
  border-color: rgb(84, 105, 212);
  color: whitesmoke;
}

.navbar-custom .btn-outline-success:hover {
  background-color: black;
  color: #fff;
}

.navbar-custom .btn-primary {
  background-color: rgb(84, 105, 212);
  border-color: #1a1f36;
}

.navbar-custom .btn-primary:hover {
  background-color: #1a1f36;
  border-color: rgb(84, 105, 212);
}

.navbar-brand {
  padding-left: 20px;
}

.collapse {
  padding-left: 20px;
}

.brandName {
  text-decoration: none; 
  color: inherit;
  padding-left: 20px;
}

.search {
  padding-right: 20px; 
}


@media (min-width: 768px) {
  .collapse {
 
  }

  .buttons {
    padding-right: 50px; 
  }

 
  .search-button {
    margin-right: 0; 
  }
}

.admin-logo img,
.admin-profile img {
  max-height: 40px;
}
.logo {
  margin-left: 20px;
  height: 60px;
}
.profile-image {
  height: 30px;
  width: 30px;
}
.cart-image {
  height: 35px;
  width: 36px;
  margin-right: 20px;
}
.dropdown-menu .animated {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.dropdown-menu .animated:hover {
  transform: translateX(-0px);
}

.dropdown-menu .animated:active {
  transform: translateX(0);
}
.dropdown-menu {
  /* margin-left: -10px; */
}

button[type="submit"] {
  background-color: #1a1f36;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
  height: auto !important;
  width: auto;
}
button:hover {
  background-color: rgb(84, 105, 212);
}
.search-input {
  height: auto;
  width: 240px;
}

.navbar-toggler-icon {
  background-color: rgb(84, 105, 212);
}


.separator {
  border-top: 1px solid #ccc;
  margin-top: 5px; 
  margin-bottom: 5px; 
  padding-top: 0; 
  padding-bottom: 0; 
}
.login-btn {
  margin-top: -30px;
}
.navCategoryNames {
  color: white;
  padding: 30px;
  text-decoration: none;
  transition: color 0.3s;
}

.navCategoryNames:hover {
  color: black; 
}
