
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.admin-logo img {
  height: 60px;
  width: 200px;
}

.admin-profile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.admin-logo,
.admin-profile {
  display: flex;
  align-items: center;
}

.admin-profile img {
  border: 2px solid white;
}
